extends layout

block content
  include parts/topbar.jade
  include parts/sidebar.jade
  main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')  
        if user.role[0] == 'adm'
          h2 Transações
        else
          h2 Extrato
        .table-responsive
          table.table.table-hover.table-sm.table-border
            thead
              tr
                th Data
                th Valor
                th De
                th Para
                th Tipo
                th Opções
            |           
            tbody
              each transfer in transfers

                tr
                  td #{transfer.timex}

                  td #{transfer.value}

                  td 
                    a(href="edit/user/#{transfer.form._id}")
                      | #{transfer.form.uname}

                  td #{transfer.to}

                  if transfer.meta
                    td.ted
                      span(data-feather="trending-down")
                      span &nbsp;
                      | TED
                  else
                    td.int
                      span(data-feather="trending-up")
                      span &nbsp;
                      

                      | Interna

                  td 
                    a.btn.btn-primary(href="edit/transfer/#{transfer._id}") 
                      span(data-feather='eye')
                      |Detalhes
                    span &nbsp;
                    a.btn.btn-danger(href="delete/transfer/#{transfer._id}") 
                      span(data-feather='trash')
                      | Excluir

