extends layout

block content
  include parts/topbar.jade
  include parts/sidebar.jade
  script.
    google.charts.load("current", {packages:["corechart"]});
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
          var data = google.visualization.arrayToDataTable([
            ['Task', 'Hours per Day'],
            ['TED',     #{ted}],
            ['LessaPay', #{internal}],
          ]);

          var options = {
            pieHole: 0.1,
          };

          var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
          chart.draw(data, options);
        }                
  main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')
    if user.role[0] == 'adm'
      div.row
        div.col-sm-3
          div.dash-card.total
            div.h Saldo na plataforma
            div.value #{total}
        div.col-sm-3
          div.dash-card.trans
            div.h Transações
            div.value #{transfers.length}
        div.col-sm-3
          div.dash-card.users
            div.h Usuários
            div.value #{users.length} 
        div.col-sm-3
          div.dash-card.users 
            div(id="donutchart")
    else
      div.row
        div.col-sm-3
          div.dash-card.total
            div.h Seu saldo
            div.value #{user.balance}
        div.col-sm-3
          div.dash-card.trans
            div.h Transações
            div.value #{transfers.length}

    if user.role[0] == 'adm'                                              
      .d-flex.justify-content-between.flex-wrap.flex-md-nowrap.align-items-center.pt-3.pb-2.mb-3.border-bottom
      h2 Usuários
      |       
      .table-responsive
        table.table.table-hover.table-sm.table-border
          thead
            tr
              th #
    
              th Nome de usuário
              |               
              //th Nome
              |               
              th Email
              |               
              th Telefone
              th CPF
              |               
              th Saldo
              th Opções
          |           
          tbody
            each user in users
              if user.uname
                tr
                  td 
                    img(src="https://ui-avatars.com/api/?name=#{user.fullname}&background=0D8ABC&color=fff")
                  td #{user.uname}

                                                                       
                    
                  |               
                  // =-td #{user.fullname}
                  |               
                  td #{user.email}
                  |               
                  td #{user.phone}
                  td #{user.cpf}
                  |               
                  td.saldo #{user.balance}
                  td 
                    a.btn.btn-primary(href="edit/user/#{user._id}") 
                      span(data-feather='edit')
                      | Editar
                    span &nbsp;
                    a.btn.btn-danger(href="delete/user/#{user._id}") 
                      span(data-feather='trash')
                      |Excluir

    else
      if transfers.length == 0
        hr
        div Você ainda não fez nenhuma transação
      else
        h2 Extrato
        .table-responsive
          table.table.table-hover.table-sm.table-border
            thead
              tr
                th Data
                th Valor
                th De
                th Para
                th Tipo
                th Opções
            |           
            tbody
              each transfer in transfers

                tr
                  td #{transfer.timex}

                  td #{transfer.value}

                  td 
                    a(href="edit/user/#{transfer.form._id}")
                      | #{transfer.form.uname}
                  if transfer.to == user._id
                    td #{user.uname}
                  else
                    td #{transfer.to}


                  if transfer.meta
                    td.ted
                      span(data-feather="trending-down")
                      span &nbsp;
                      | TED
                  else
                    td.int
                      span(data-feather="trending-up")
                      span &nbsp;
                      

                      | Interna

                  td 
                    a.btn.btn-primary(href="edit/transfer/#{transfer._id}") 
                      span(data-feather='eye')
                      |Detalhes
                    span &nbsp;
                    a.btn.btn-danger(href="delete/transfer/#{transfer._id}") 
                      span(data-feather='trash')
                      | Excluir


