extends layout

block content
  include parts/topbar.jade
  include parts/sidebar.jade
  main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main' class="md-form")  
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/') Início
        li.breadcrumb-item.active(aria-current='page') Editar usuário

    h2 Editar usuário
    |       
    form(data-endpoint="/edit/user/#{userProfile._id}")#edit-user
      .alert.message

      div.row
        div.col-sm-4
          // -pre #{JSON.stringify( userProfile, true, 1 )}
          .form-group
            label(for='exampleInputEmail') Nome de usuário
            input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', name="uname" value="#{userProfile.uname}" placeholder='Nome de usuário')
            small#emailHelp.form-text.text-muted Nome de usuário, usado para login.
          .form-group
            label(for='exampleInputEmail15') Nome completo
            input#exampleInputEmail15.form-control(type='email', aria-describedby='emailHelp', name="fullname" value="#{userProfile.fullname}" placeholder='Nome de usuário')                
          .form-group
            label(for='exampleInputPassword1') Email
            input#exampleInputPassword1.form-control(type='email', placeholder='E-mail', value='#{userProfile.email}' name="email")
          .form-group
            label(for='exampleInputPassword1') Telefone
            input#exampleInputPassword1.form-control(type='text', placeholder='Telefone', value='#{userProfile.phone}' name="phone")
          .form-group
            label(for='exampleInputPassword1') RG
            input#exampleInputPassword1.form-control(type='text', placeholder='RG', value="#{userProfile.rg}" name="rg")
          .form-group
            label(for='exampleInputPassword1') CPF
            input#exampleInputPassword1.form-control(type='text', placeholder='CPF/CNPJ', value="#{userProfile.cpf}" name="cpf")
          hr
          button.btn.btn-primary(type='button', onclick="LessaPay.editUser()") Salvar

        div.col-sm-4
          .form-group
            label(for='exampleInputPassword1') Saldo
            input#exampleInputPassword1.form-control(type='text', placeholder='Saldo total', value="#{userProfile.balance}" name="balance")
          .form-group
            label(for='exampleInputPassword1') Data de nascimento
            input#exampleInputPassword1.form-control(type='text', placeholder='Data de nascimento', value="#{userProfile.dob}" name="dob")
          .form-group
            label(for='exampleInputEmail1') Senha
            input#exampleInputEmail1.form-control(type='email', aria-describedby='emailHelp', value="" placeholder='Senha' name="password")
            small#emailHelp.form-text.text-muted Deixe em branco para não alterar.

          .form-group
            label(for='exampleInputEmail1') Status
            select(name="status").form-control
              option(value="active" selected="#{userProfile.status[0] == 'active'}") Ativo
              option(value="banned" selected="#{userProfile.status[0] == 'banned'}") Banido
              option(value="suspend" selected="#{userProfile.status[0] == 'suspend'}") Suspenso
          .form-group
            label(for='exampleInputEmail1') Role
            select(name="role").form-control
              option(value="adm" selected="#{ userProfile.role[0] == 'adm' }") Administrador
              option(value="moderator" selected="#{ userProfile.role[0] == 'moderator' }") Moderador
              option(value="user" selected="#{ userProfile.role[0] == 'user' }") Cliente                           


   


