doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title LessaPay Pagamentos - Início
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
    link(href='stylesheets/home.min.css', rel='stylesheet')
    link(href="/vendor/simple-line-icons/css/simple-line-icons.css" rel='stylesheet')
    link(href="/vendor/fontawesome-free/css/all.min.css" rel='stylesheet')
  body
    nav.navbar.navbar-light.bg-light.static-top
      .container
        a.navbar-brand(href='/') 
          img( src="/images/logo.png" )
          span LessaPay - Financeira
        a.btn.btn-primary(href='/app') Acessar conta
    header.masthead.text-white.text-center
      .overlay
      .container
        .row
          .col-xl-9.mx-auto
            h1.mb-5 Reserve seu lugar para experimentar a mais nova solução em pagamentos!
          .col-md-10.col-lg-8.col-xl-7.mx-auto
            form(action="/register")
              .form-row
                .col-12.col-md-9.mb-2.mb-md-0
                  
                  input.heroi.form-control.form-control-lg(type='email', placeholder='Digite seu email e venha para a LessaPay  ')
                .col-12.col-md-3
                  button.btn.btn-block.btn-lg.btn-primary(type='submit') Eu quero!
    section.features-icons.bg-light.text-center
      .container
        .row
          .col-lg-4
            .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
              .features-icons-icon.d-flex
                i.icon-screen-desktop.m-auto.text-primary
              h3 Versão Web
              p.lead.mb-0 Não tem mais acesso ao seu celular? Não se preocupe gerencie tudo em nossa versão Web do serviço.
          .col-lg-4
            .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
              .features-icons-icon.d-flex
                i.icon-lock.m-auto.text-primary
              h3 Segurança
              p.lead.mb-0 Garanta a segurança das operações através do LessaToken, todas as transações são registradas e podem ser auditadas!
          .col-lg-4
            .features-icons-item.mx-auto.mb-0.mb-lg-3
              .features-icons-icon.d-flex
                i.icon-check.m-auto.text-primary
              h3 Experiência diferente
              p.lead.mb-0 Abandone filas de banco, faça pagamentos, transferências, invista e muito mais pelo app LessaPay!
    section.showcase
      .container-fluid.p-0
        .row.no-gutters
          .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('images/pixel_really_blue_portrait.png');")
          .col-lg-6.order-lg-1.my-auto.showcase-text
            h2 Controle na palma da sua mão
            p.lead.mb-0
              | Com LessaPay você paga contas, faz transferências, acessa seu extrato e ainda pode investir seu dinheiro em um dos nossos planos para investidores, confira!
        .row.no-gutters
          .col-lg-6.text-white.showcase-img(style="background-image: url('https://cdn.dribbble.com/users/3199191/screenshots/6613797/money.png');")
          .col-lg-6.my-auto.showcase-text
            h2 Seu dinheiro seguro!
            p.lead.mb-0
              | Na LessaPay você tem total segurança para seu dinheiro, nosso time de segurança digital garantiu criptografia e autencação de dois fatores. Com isso você tem toda uma suíte de rotinas de segurança ao seu favor, só na LessaPay você tem.
        .row.no-gutters
          .col-lg-6.order-lg-2.text-white.showcase-img(style="background:url(images/banks.png);    background-size: cover;")
          .col-lg-6.order-lg-1.my-auto.showcase-text
            h2 Pague de maneira fácil
            p.lead.mb-0
              | Pague boletos, outros usuários LessaPay, faça transferências, tudo na palma da sua mão. Faça como centenas de pessoas e, venha para a LessaPay!
    //- section.testimonials.text-center.bg-light
      .container
        h2.mb-5 O que dzem por aí?
        .row
          .col-lg-4
            .testimonial-item.mx-auto.mb-5.mb-lg-0
              img.img-fluid.rounded-circle.mb-3(src='img/testimonials-1.jpg', alt='')
              h5 Margaret E.
              p.font-weight-light.mb-0 "This is fantastic! Thanks so much guys!"
          .col-lg-4
            .testimonial-item.mx-auto.mb-5.mb-lg-0
              img.img-fluid.rounded-circle.mb-3(src='img/testimonials-2.jpg', alt='')
              h5 Fred S.
              p.font-weight-light.mb-0
                | "Bootstrap is amazing. I've been using it to create lots of super nice landing pages."
          .col-lg-4
            .testimonial-item.mx-auto.mb-5.mb-lg-0
              img.img-fluid.rounded-circle.mb-3(src='img/testimonials-3.jpg', alt='')
              h5 Sarah W.
              p.font-weight-light.mb-0 "Thanks so much for making these free resources available to us!"
    section.call-to-action.text-white.text-center
      .overlay
      .container
        .row
          .col-xl-9.mx-auto
            h2.mb-4 E aí? Está pronto para aproveitas todas as vantagens de ser um cliente LessaPay?
          .col-md-10.col-lg-8.col-xl-7.mx-auto
            form(action="/register")
              .form-row
                .col-12.col-md-9.mb-2.mb-md-0
                  input.heroi.form-control.form-control-lg(type='email', placeholder='Digite seu email e venha para a LessaPay  ')
                .col-12.col-md-3
                  button.btn.btn-block.btn-lg.btn-primary(type='submit') Vamos lá!
    footer.footer.bg-light
      .container
        .row
          .col-lg-6.h-100.text-center.text-lg-left.my-auto
            ul.list-inline.mb-2
              li.list-inline-item
                a(href='#') Sobre
              li.list-inline-item ⋅
              li.list-inline-item
                a(href='#') Contato
              li.list-inline-item ⋅
              li.list-inline-item
                a(href='#') Termos de uso
              li.list-inline-item ⋅
              li.list-inline-item
                a(href='#') Política de pivacidade
            p.text-muted.small.mb-4.mb-lg-0 © LessaPay #{new Date().getFullYear()}. Todos os direitos reservados.
          .col-lg-6.h-100.text-center.text-lg-right.my-auto
            ul.list-inline.mb-0
              li.list-inline-item.mr-3
                a(href='#')
                  i.fab.fa-facebook.fa-2x.fa-fw
              li.list-inline-item.mr-3
                a(href='#')
                  i.fab.fa-twitter-square.fa-2x.fa-fw
              li.list-inline-item
                a(href='#')
                  i.fab.fa-instagram.fa-2x.fa-fw
    script(src='js/jquery-3.3.1.min.js')
    script(src='js/bootstrap.bundle.min.js')
