doctype html
html
  head
    title= title
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/assets/datatables.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet")
    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
  body
    block content
    include parts/mdboostrap.html
    script(src="/js/jquery-3.3.1.min.js")
    script(src="/js/bootstrap.min.js")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/feather-icons/4.9.0/feather.min.js')  
    script(src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.min.js')
    script(src="/assets/datatables.js")
    if user
        script(src="/javascripts/App.js")
    else
        script(src="/javascripts/scripts.js")


