extends layout

block content
  include parts/topbar.jade
  include parts/sidebar.jade
  main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')  
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/bank') Banco
        li.breadcrumb-item.active(aria-current='page') Comprovante     
    h2 Transação
    .container-ticket
      .ticket
        .head-ticket
          p.x-bold LessaPay &trade;
          p.bold Forex - Financeira
          p.bold www.lessapay.com.br
          br
          if receipt.meta
            p.bold COMPROVANTE DE TRANSAÇÃO - TED
          else
            p.bold COMPROVANTE DE TRANSAÇÃO
          p Data #{receipt.day} às #{receipt.hour}
          p Autenticação 
            span.auth #{receipt._id}
          .code-barre
            img(src="#{receipt.QR}")
        .body-ticket
          .produits
            .col2
              if receipt.meta
                p TRANSFERÊNCIA ENTRE INSITUIÇÕES
              else
                p TRANSFERÊNCIA ENTRE CONTAS LESSAPAY
            .hr-sm
            .col2
              p De
              p.prix #{receipt.form.fullname} (#{receipt.form.uname})
            .col2
              if receipt.meta
                p Para
                p.prix.ted 
                  | #{receipt.meta.bankInfo.Codigo +' - '+receipt.meta.bankInfo.Nome}
                  br

                  | CPF #{receipt.meta.cpf }
                  br
                  | #{receipt.meta.agency +'/'+receipt.meta.accountNumber }
                  br
                  br
                  br
                  br               
              else
                p Para
                p.prix #{receipt.to.fullname}(#{receipt.to.uname})  
            .col2

              p Taxas 
              p.prix  R$ 0,0
            br
            .col2
              p Valor
              p.prix #{receipt.value}
            .col2
              p Total
              p.prix #{receipt.value}
          .hr-lg
          .carte
            p.title-carte Comprovante de transação LessaPay &trade;
            br
            .col2
              p Disponível para consulta por 3 anos após a data da efeitvação da transferência.
            br
            p
              | A autenticidade das informações podem ser consultadas no app através do código de autenticação.
            br
            p #{receipt.timeHumam}
          .hr-lg
        .footer-ticket
          p.title-footer
            | A previsão do crédito em conta é imediata.
            br
            | Agradecemos a preferência




                      


       


