extends layout

block content
  include parts/topbar.jade
  include parts/sidebar.jade
  main.col-md-9.ml-sm-auto.col-lg-10.px-4(role='main')  
    nav(aria-label='breadcrumb')
      ol.breadcrumb
        li.breadcrumb-item
          a(href='/') Início
        li.breadcrumb-item.active(aria-current='page') Configurações

    h2 Configurações
    |       
    form(data-endpoint="" class="md-form")#edit-user
      .alert.message

      div.row
        div.col-sm-12
          .form-group
            .row
              div.col-sm-3
                div.lab Taxa TED
              div.col-sm-8
                input.col-sm-5.form-control(type='number', aria-describedby='emailHelp', name="" value="12" placeholder='Nome de usuário')
              br
              br
              br
            .row
              div.col-sm-3
                div.lab Nome do APP
              div.col-sm-8
                input.col-sm-5.form-control(type='text', aria-describedby='emailHelp', name="" value="LessaPay" placeholder='Nome de usuário')
              br
              br
              br
            .row
              div.col-sm-3
                div.lab URL da API
              div.col-sm-8
                input.col-sm-5.form-control(type='text', aria-describedby='emailHelp', name="" value="http://lessapay.app.stux.me/" placeholder='Nome de usuário')
              br
              br
              br
            .row
              div.col-sm-3
                div.lab Chave secreta principal
              div.col-sm-8
                input.col-sm-5.form-control(type='text', aria-describedby='emailHelp', name="" value="5d71bb9650d4ea27ab351977" placeholder='Nome de usuário')
              br
              br
              br                                            

                               

          hr
          button.btn.btn-primary(type='button', onclick="LessaPay.editUser()") Salvar
           


   


