@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);


body{
    margin: 0;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.6;
    color: #212529;
    text-align: left;
    /* background-color: #f5f8fa; */
}

.navbar-laravel
{
    box-shadow: 0 2px 4px rgba(0,0,0,.04);
    padding: 0;
    height: 4em;
    height: 5.1em;
    position: fixed;
    width: 100%;
    display: block;
    background: #ffffff;
    z-index: 99999;
}

.navbar-brand , .nav-link, .my-form, .login-form
{
    font-family: Raleway, sans-serif;
}

.my-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.my-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.login-form
{
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.login-form .row
{
    margin-left: 0;
    margin-right: 0;
}

.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  padding-top: 9em;
  top: 6em;
  /* background: red; */
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    background: #586671;
    top: -5px;
    position: fixed;
    top: 5em;
    /* width: 100%; */
    width: 18.79em;
    padding: 10em 0;
  }
}

.sidebar .nav-link {
  font-weight: 500;
  color: #ececec;
  font-size: 14px;
  line-height: 31px;
  border-right: 3px solid transparent;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #999;
}

.sidebar .nav-link.active, .sidebar .nav-link:hover {
  color: #3c92ca;
  font-weight: bold;
  border-right: 3px solid #2196F3;
  background: #435563;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}

/*
 * Content
 */

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
  /* font-family: Raleway, sans-serif; */
  font-family: 'Roboto', sans-serif;
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

/*
 * Navbar
 */

.navbar-brand {
  padding-top: -0.25rem;
  /* z-index: 9999999; */
  /* margin: 0; */
  /* left: 0; */
  color: #464646 !important;
  /* height: 0; */
  /* padding-bottom: .75rem; */
  /* font-size: 1rem; */
  /* background-color: rgba(0, 0, 0, .25); */
  /* box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25); */
  /* top: 2em; */
  z-index: 9999;
}

.navbar .form-control {
  /* padding: .75rem 1rem; */
  /* border-width: 0; */
  /* border-radius: 0; */
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
ul.navbar-nav {
    /* float: right; */
    /* position: relative; */
    /* right: 0; */
    /* position: absolute; */
    /* right: 0; */
    /* line-height: 0; */
    /* top: 11px; */
}

a.nav-link {
    /* padding: 1em; */
}

input.form-control.form-control.w-100 {}

input.form-control.form-control.w-100 {
    margin: 12px 0px;
}
li.nav-item.text-nowrap {
    padding: 0;
    margin: 0;
    /* line-height: 44px; */
}
.navbar a.nav-link {
    color: #677783 !important;
}
.under {
    padding-left: 39px;
    color: red;
}

.under a {
    color: #ababab !important;
    margin: 0;
    padding: 0;
}
h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted {
    background: #2196F3;
    padding: 1em;
    border-radius: 4px;
    margin: 1em;
    color: #fff;
}

h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted span {
    color: white;
}

h6.sidebar-heading.d-flex.justify-content-between.align-items-center.px-3.mt-4.mb-1.text-muted svg {
    color: white;
}
nav.navbar.navbar-expand-lg.navbar-light.navbar-laravel.h .container {
    /* background: red; */
    top: -1em;
    position: relative;
}

li.nav-item.active {
    font-weight: bold;
}
.dash-card {
    background: red;
    padding: 1em;
    border-radius: 4px;
    background: #fff;
    /* font-family: Raleway, sans-serif; */
    height: 8em;
    box-shadow: 0px 0px 5px 0px #e4e4e4;
    height: 10em;
    overflow: hidden;
    line-height: 3em;
}

.h {
    color: #2196F3;
}

.value {
    font-weight: bold;
    font-size: 18pt;
}

.dash-card.total {}

.dash-card.total .value {
    color: #4CAF50;
}

::selection {
  background: #333;
  color: #ffffff;
}

body {
  margin: 0;
  font-size: 12px;
  position: relative;
  font-family: 'Roboto', sans-serif;
}

* {
  margin: 0;
}

.serif {
  font-family: serif;
}

.sans-serif {
  font-family: 'sans-serif';
}

.bold {
  font-weight: 700;
}

.x-bold {
  font-weight: 900;
  text-shadow: 0px 0px 1px #000;
}

.hr, .hr-sm, .hr-lg {
  border-bottom: 1.5px dashed #333;
  margin: 10px 0;
}

.hr-sm {
  width: 30%;
  float: right;
}

.hr-lg {
  width: 100%;
}

.col2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.container-ticket {
  /* background: #e6e6e6; */
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding: 50px 0;
  box-sizing: border-box;
}
.container-ticket .ticket {
  cursor: default;
  position: relative;
  width: 40em;
  padding: 10px 20px;
  background: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  font-family: courier;
}
.container-ticket .ticket .head-ticket {
  text-align: center;
  padding: 0px 17px;
}
.container-ticket .ticket .head-ticket p {
  font-size: 14px;
}
.container-ticket .ticket .head-ticket p:nth-child(1) {
  font-size: 18px;
}
.container-ticket .ticket .head-ticket p:nth-child(6), .container-ticket .ticket .head-ticket p:nth-child(7) {
  font-size: 12px;
  text-align: left;
}
.container-ticket .ticket .head-ticket .code-barre {

  justify-content: space-between;
  margin-left: -17px;
  margin-right: -17px;
  margin-top: 5px;
}
.container-ticket .ticket .head-ticket .code-barre span {
  height: 100%;
  width: 10px;
  display: inline-block;
  background: #333333;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(1) {
  width: 7px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(2) {
  width: 6px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(3) {
  width: 5px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(4) {
  width: 1px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(5) {
  width: 4px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(6) {
  width: 5px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(7) {
  width: 1px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(8) {
  width: 6px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(9) {
  width: 2px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(10) {
  width: 3px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(11) {
  width: 6px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(12) {
  width: 5px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(13) {
  width: 3px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(14) {
  width: 6px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(15) {
  width: 4px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(16) {
  width: 5px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(17) {
  width: 6px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(18) {
  width: 7px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(19) {
  width: 6px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(20) {
  width: 6px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(21) {
  width: 7px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(22) {
  width: 2px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(23) {
  width: 6px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(24) {
  width: 5px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(25) {
  width: 2px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(26) {
  width: 7px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(27) {
  width: 4px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(28) {
  width: 2px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(29) {
  width: 5px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(30) {
  width: 5px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(31) {
  width: 1px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(32) {
  width: 1px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(33) {
  width: 7px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(34) {
  width: 7px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(35) {
  width: 6px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(36) {
  width: 7px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(37) {
  width: 1px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(38) {
  width: 3px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(39) {
  width: 3px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(40) {
  width: 2px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(41) {
  width: 1px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(42) {
  width: 3px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(43) {
  width: 7px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(44) {
  width: 4px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(45) {
  width: 7px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(46) {
  width: 1px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(47) {
  width: 2px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(48) {
  width: 3px;
  margin-right: 2px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(49) {
  width: 7px;
  margin-right: 1px;
}
.container-ticket .ticket .head-ticket .code-barre span:nth-child(50) {
  width: 3px;
  margin-right: 1px;
}
.container-ticket .ticket .body-ticket {
  padding: 0px 17px;
}
.container-ticket .ticket .body-ticket .produits {
  margin: 30px 0;
}
.container-ticket .ticket .body-ticket .carte {
  text-align: justify;
  text-align-last: center;
}
.container-ticket .ticket .body-ticket .carte .title-carte {
  font-size: 15px;
  font-weight: 600;
  letter-spacing: -2px;
}
.container-ticket .ticket .footer-ticket {
  padding: 0px 17px;
}
.container-ticket .ticket .footer-ticket .title-footer {
  font-size: 16px;
  font-weight: 900;
  text-shadow: 0px 1px 0px rgba(0, 0, 0, 0.5);
  text-align: center;
  letter-spacing: 2px;
}
.ticket p{margin: 0;}
.code-barre img {
    width: 11em;
}
p.prix.ted {
    text-align: right;
}
main table img {
    border-radius: 50%;
    width: 2em;
    margin: 0 auto;
    display: block;
}
span.adm {
    color: red;
    font-weight: bold;
}
td.int svg {
    color: #4CAF50;
}

td.ted svg {
    color: red;
}
div#donutchart svg {
    height: 15em;
    position: relative;
    top: -43px;
}
main.col-md-9.ml-sm-auto.col-lg-10.px-4 {
    position: relative;
    top: 5em;
    padding-bottom: 15em;
}

a.nav-link.active {
    /* color: white !important; */
    font-weight: bold;
}

a.nav-link svg {
    position: relative;
    top: 0px;
}

a.nav-link:hover {
    color: #3c92ca;
}

a.navbar-brand.col-sm-3.col-md-2.mr-0 input {
    display: inline-block;
    /* left: 6em; */
    -webkit-mask-composite: clear;
    /* position: relative; */
    top: 1px;
    border: none;
    background: #ffffff;
    cp: o;
    color: white;
}

a.navbar-brand.col-sm-3.col-md-2.mr-0 {
    /* background: rebeccapurple; */
    height: 2em;
    /* padding: 1em; */
    height: 3.1em;
    top: -3px;
    /* line-height: 51px; */
    padding-bottom: 2.97em;
    /* width: 22em; */
}
::placeholder {
  color: blue;

}

.px-3 a.navbar-brand.col-sm-3.col-md-2.mr-2 a {
    background: red;
}

ul.navbar-nav.px-3 a {
    color: red;
    /* top: -60px; */
    font-size: 20px;
    /* padding: 0; */
    /* margin: 0; */
    /* position: relative; */
    /* background: red; */
    height: 67px;
    /* top: -18px; */
    position: relative;
}

a.navbar-brand.col-sm-3.col-md-2.mr-0:hover {
    /* background: #426984; */
    color: #fff;
}
ul.navbar-nav.px-3 {
    float: right;
    /* background: red; */
    top: 0;
    ois: pos;
    position: relative;
    color: #687682;
    top: 1em;
    font-size: 1px;
}

ul.navbar-nav.px-3 a {
    /* font-weight: bold; */
    color: #001906;
}

ul.navbar-nav.px-3 a:hover {
    color: #ffffff !important;
}
select {
    display: block !important;
    border: none !important;
    border-bottom: 1px solid #ced4da !important;
}

.profile-yeld {
    position: absolute;
    top: 0;
    z-index: 99;
    width: 100%;
    display: block;
    padding: 1em;
}

.profile-yeld .figure {
    display: inline-block;
    width: 30%;
}

.profile-yeld .figure img {
    border-radius: 50%;
    border: 5px solid #ffffff69;
    width: 4em;
}

.metad {
    display: inline-block;
    width: 70%;
    position: relative;
    top: 14px;
}

.metad .balance {
    font-weight: bold;
    display: block;
    color: #ffffff;
    font-size: 14pt;
}

.metad .name {
    color: #fff;
}
.lab {
    position: relative;
    top: 22px;
}
a.navbar-brand.col-sm-3.col-md-2.mr-0 img {
    /* width: 3em; */
    /* display: block; */
    height: 2em;
    width: 2em;
    position: relative;
    top: -5px;
}

a.navbar-brand.col-sm-3.col-md-2.mr-0 {}

.isearch {
    /* background: red; */
    display: inline-block;
    width: 19em;
    padding-left: 0;
    left: 4em;
    position: relative;
}

.isearch svg {
    position: relative;
    top: -2px;
    left: 7px;
    color: #6c757d;
}

.isearch input:focus {
    border: none;
    box-shadow: none;
    box-shadow: 0px 2px 0px 0px #3e94cb;
}

.isearch input {
    border-radius: 0;
    color: #6c757d !important;
}