doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='description', content='')
    meta(name='author', content='')
    title Landing Page - Start Bootstrap Theme
    // Bootstrap core CSS
    link(href='https://blackrockdigital.github.io/startbootstrap-landing-page/vendor/bootstrap/css/bootstrap.min.css', rel='stylesheet')
    // Custom fonts for this template
    link(href='https://blackrockdigital.github.io/startbootstrap-landing-page/vendor/fontawesome-free/css/all.min.css', rel='stylesheet')
    link(href='https://blackrockdigital.github.io/startbootstrap-landing-page/vendor/simple-line-icons/css/simple-line-icons.css', rel='stylesheet', type='text/css')
    link(href='https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic', rel='stylesheet', type='text/css')
    // Custom styles for this template
    link(href='css/landing-page.min.css', rel='stylesheet')
    link(href='css/home.css', rel='stylesheet')
  body
    // Navigation
    nav.navbar.navbar-light.bg-light.static-top
      .container
        a.navbar-brand(href='#') Start Bootstrap
        a.btn.btn-primary(href='#') Sign In
    // Masthead
    header.masthead.text-white.text-center
      .overlay
      .container
        .row
          .col-xl-9.mx-auto
            h1.mb-5 Build a landing page for your business or project and generate more leads!
          .col-md-10.col-lg-8.col-xl-7.mx-auto
            form
              .form-row
                .col-12.col-md-9.mb-2.mb-md-0
                  input.form-control.form-control-lg(type='email', placeholder='Enter your email...')
                .col-12.col-md-3
                  button.btn.btn-block.btn-lg.btn-primary(type='submit') Sign up!
    // Icons Grid
    section.features-icons.bg-light.text-center
      .container
        .row
          .col-lg-4
            .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
              .features-icons-icon.d-flex
                i.icon-screen-desktop.m-auto.text-primary
              h3 Fully Responsive
              p.lead.mb-0 This theme will look great on any device, no matter the size!
          .col-lg-4
            .features-icons-item.mx-auto.mb-5.mb-lg-0.mb-lg-3
              .features-icons-icon.d-flex
                i.icon-layers.m-auto.text-primary
              h3 Bootstrap 4 Ready
              p.lead.mb-0 Featuring the latest build of the new Bootstrap 4 framework!
          .col-lg-4
            .features-icons-item.mx-auto.mb-0.mb-lg-3
              .features-icons-icon.d-flex
                i.icon-check.m-auto.text-primary
              h3 Easy to Use
              p.lead.mb-0 Ready to use with your own content, or customize the source files!
    // Image Showcases
    section.showcase
      .container-fluid.p-0
        .row.no-gutters
          .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('img/bg-showcase-1.jpg');")
          .col-lg-6.order-lg-1.my-auto.showcase-text
            h2 Fully Responsive Design
            p.lead.mb-0
              | When you use a theme created by Start Bootstrap, you know that the theme will look great on any device, whether it's a phone, tablet, or desktop the page will behave responsively!
        .row.no-gutters
          .col-lg-6.text-white.showcase-img(style="background-image: url('img/bg-showcase-2.jpg');")
          .col-lg-6.my-auto.showcase-text
            h2 Updated For Bootstrap 4
            p.lead.mb-0
              | Newly improved, and full of great utility classes, Bootstrap 4 is leading the way in mobile responsive web development! All of the themes on Start Bootstrap are now using Bootstrap 4!
        .row.no-gutters
          .col-lg-6.order-lg-2.text-white.showcase-img(style="background-image: url('img/bg-showcase-3.jpg');")
          .col-lg-6.order-lg-1.my-auto.showcase-text
            h2 Easy to Use & Customize
            p.lead.mb-0
              | Landing Page is just HTML and CSS with a splash of SCSS for users who demand some deeper customization options. Out of the box, just add your content and images, and your new landing page will be ready to go!
    // Testimonials
    section.testimonials.text-center.bg-light
      .container
        h2.mb-5 What people are saying...
        .row
          .col-lg-4
            .testimonial-item.mx-auto.mb-5.mb-lg-0
              img.img-fluid.rounded-circle.mb-3(src='img/testimonials-1.jpg', alt='')
              h5 Margaret E.
              p.font-weight-light.mb-0 "This is fantastic! Thanks so much guys!"
          .col-lg-4
            .testimonial-item.mx-auto.mb-5.mb-lg-0
              img.img-fluid.rounded-circle.mb-3(src='img/testimonials-2.jpg', alt='')
              h5 Fred S.
              p.font-weight-light.mb-0
                | "Bootstrap is amazing. I've been using it to create lots of super nice landing pages."
          .col-lg-4
            .testimonial-item.mx-auto.mb-5.mb-lg-0
              img.img-fluid.rounded-circle.mb-3(src='img/testimonials-3.jpg', alt='')
              h5 Sarah W.
              p.font-weight-light.mb-0 "Thanks so much for making these free resources available to us!"
    // Call to Action
    section.call-to-action.text-white.text-center
      .overlay
      .container
        .row
          .col-xl-9.mx-auto
            h2.mb-4 Ready to get started? Sign up now!
          .col-md-10.col-lg-8.col-xl-7.mx-auto
            form
              .form-row
                .col-12.col-md-9.mb-2.mb-md-0
                  input.form-control.form-control-lg(type='email', placeholder='Enter your email...')
                .col-12.col-md-3
                  button.btn.btn-block.btn-lg.btn-primary(type='submit') Sign up!
    // Footer
    footer.footer.bg-light
      .container
        .row
          .col-lg-6.h-100.text-center.text-lg-left.my-auto
            ul.list-inline.mb-2
              li.list-inline-item
                a(href='#') About
              li.list-inline-item ⋅
              li.list-inline-item
                a(href='#') Contact
              li.list-inline-item ⋅
              li.list-inline-item
                a(href='#') Terms of Use
              li.list-inline-item ⋅
              li.list-inline-item
                a(href='#') Privacy Policy
            p.text-muted.small.mb-4.mb-lg-0 © LessaPay #{new Date('Y')}. All Rights Reserved.
          .col-lg-6.h-100.text-center.text-lg-right.my-auto
            ul.list-inline.mb-0
              li.list-inline-item.mr-3
                a(href='#')
                  i.fab.fa-facebook.fa-2x.fa-fw
              li.list-inline-item.mr-3
                a(href='#')
                  i.fab.fa-twitter-square.fa-2x.fa-fw
              li.list-inline-item
                a(href='#')
                  i.fab.fa-instagram.fa-2x.fa-fw
    // Bootstrap core JavaScript
    script(src='https://blackrockdigital.github.io/startbootstrap-landing-page/vendor/jquery/jquery.min.js')
    script(src='https://blackrockdigital.github.io/startbootstrap-landing-page/vendor/bootstrap/js/bootstrap.bundle.min.js')
