<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
<link href="/vendor/fontawesome-free/css/all.min.css" rel='stylesheet'>
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image">
      <div class="back">

        <span><i class="fa fa-arrow-left"></i>voltar</span>
      </div>
    </div>
    <div class="col-md-8 col-lg-6">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <div class="brand">
                <a href="/"><img src="images/logo.png"></a>
              </div>
              <h3 class="login-heading mb-4">Bem vindo!</h3>
              <form id="login-form">
                <div class="alert" style="display: none"></div>
                <input type="hidden" name="type" value="REST">
                <div class="form-label-group">
                  <input type="text" id="inputEmail" class="form-control" placeholder="Nome de usuário" name="uname" required autofocus>
                  <label for="inputEmail">Nome de usuário</label>
                </div>

                <div class="form-label-group">
                  <input type="password" id="inputPassword" class="form-control" placeholder="Password" name="password" required>
                  <label for="inputPassword">Senha</label>
                </div>

                <div class="custom-control custom-checkbox mb-3" style="padding: 0;">
     <button style="    margin: 0;" onclick="LessaPayFront.login()" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="button">Entrar</button>
                </div>
              
                <div class="text-center">
                  <a class="small" href="/register">Crie sua conta!</a></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
