<link rel="stylesheet" type="text/css" href="stylesheets/login.css">
<link href="/vendor/fontawesome-free/css/all.min.css" rel='stylesheet'>
<div class="container-fluid">
  <div class="row no-gutter">
    <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image">
      <div class="back">

        <span><i class="fa fa-arrow-left"></i>voltar</span>
      </div>
    </div>
    <div class="col-md-8 col-lg-6" id="register">
      <div class="login d-flex align-items-center py-5">
        <div class="container">
          <div class="row">
            <div class="col-md-9 col-lg-8 mx-auto">
              <div class="brand">
                <a href="/"><img src="images/logo.png"></a>
              </div>
              <p style="text-align:Center">Preencha o formulário abaixo e comece hoje mesmo a utilizar todos os recursos da LessaPay</p>
              <form id="register-form">
                <div class="alert" style="display: none"></div>
                <input type="hidden" name="type" value="REST">
                <div class="form-label-group">
                  <input type="text" class="form-control" placeholder="Nome de usuário" name="uname" required autofocus>
                  <label>Nome de usuário</label>
                </div>

                <div class="form-label-group">
                  <input type="password" class="form-control" placeholder="Nome de usuário" name="password" required autofocus>
                  <label>Senha</label>
                </div>                

                <div class="form-label-group">
                  <input type="text" class="form-control" placeholder="Telefone" name="phone" required autofocus>
                  <label>Telefone</label>
                </div>

                <div class="form-label-group">
                  <input type="text" name="cpf" class="form-control" required autofocus>
                  <label>CPF</label>
                </div>

                <div class="form-label-group">
                  <input type="text" class="form-control" placeholder="Data de nascimento" name="dob" required autofocus>
                  <label>Data de nascimento</label>
                </div>

                <div class="form-label-group">
                  <input type="text" class="form-control" placeholder="Nome completo" name="fullname" required autofocus>
                  <label>Nome completo</label>
                </div>  


                <div class="form-label-group">
                  <input type="text" class="form-control" placeholder="RG" name="rg" required autofocus>
                  <label>RG</label>
                </div>                                

                <div class="custom-control custom-checkbox mb-3" style="padding: 0;">
     <button style="    margin: 0;" onclick="LessaPayFront.register()" class="btn btn-lg btn-primary btn-block btn-login text-uppercase font-weight-bold mb-2" type="button">Registrar</button>
                </div>
              
                <div class="text-center">
                  <a class="small" href="/app">Fazer login</a></div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
