.container-fluid
  .row
    nav.col-md-2.d-none.d-md-block.bg-light.sidebar
      div.profile-yeld
        div.figure
          img.u(src="https://ui-avatars.com/api/?name=#{user.fullname}&amp;background=0D8ABC&amp;color=fff")
        div.metad
          span.name #{user.fullname}
          span.balance #{user.balance}

      .sidebar-sticky
        ul.nav.flex-column
          li.nav-item
            a.nav-link(href='/app', class="#{(path == '/app' ) ? 'active' : ''}")
              span(data-feather='home') 
              |               Início
              span.sr-only (current)
          | 
          li.nav-item
            a.nav-link(href='/me', class="#{path == '/me' ? 'active' : ''}")
              span(data-feather='user')
              |               Meu perfil                      
          if user.role[0] == 'adm'
            li.nav-item
              a.nav-link(href='/bank', class="#{path == '/bank' ? 'active' : ''}")
                span(data-feather='credit-card')
                |               Banco
          else
            li.nav-item
              a.nav-link(href='/bank', class="#{path == '/bank' ? 'active' : ''}")
                span(data-feather='layers')
                |               Extrato                   
          if user.role[0] == 'adm'
            li.nav-item
              a.nav-link(href='#')
                span(data-feather='file-text')
                |               Ocorrências
            |           
            li.nav-item
              a.nav-link(href='#')
                span(data-feather='bar-chart-2')
                |               Relatórios
            |           
            li.nav-item
              a.nav-link(href='/settings',  class="#{path == '/settings' ? 'active' : ''}")
                span(data-feather='settings')
                |               Configurações 
        ul.nav.flex-column.mb-2
          li.nav-item
            a.nav-link(href='/logout')
              span(data-feather='log-out')
              |               Sair
          |           