nav.navbar.navbar-expand-lg.navbar-light.navbar-laravel.navbar-fixed
  a.navbar-brand.col-sm-3.col-md-2.mr-0(href='#') 
    img(src="images/logo.png") 
    | LessaPay   
    .isearch
      span(data-feather='search')
      input.form-control.form-control.w-100(type='text', placeholder='Buscar', aria-label='Search')
      |   
  ul.navbar-nav.px-3


    li.nav-item.text-nowrap
      a.nav-link(href='/logout') Sair